@using DocumentFormat.OpenXml.Office.CustomUI
@model EmployeeHierachy12345.Models.Filter

@{
    ViewData["Title"] = "Index";
}

<head>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" />

    <!-- Bootstrap Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css" />
</head>

<div class="card">
    <div class="card-header">
        <h1 class="card-title" style="color:dark-black; font-weight:bold; align:center;"><b>Department</b></h1>
    </div>

    <div class="card-body">

        <p style="width: 1550px;">
                
            @*<form asp-action="Dropdown" asp-controller="Region" method="post"> *@
            @*<label asp-for="EmployeeRegister.Department" class="control-label"></label> *@

            @Html.DropDownListFor(Model => Model.EmployeeRegister.Department, new SelectList(Model.Departments, "Id", "DepartmentName"), "Select Department", new { @class = "form-control", id = "Department", name = "Department", Style = "width: 250px;" })
            <span asp-validation-for="EmployeeRegister.Department" class="text-danger"></span> 
            
            
            @* <br />
            <button type="submit" class="btn btn-primary" style="margin-left:50px;">Submit</button> *@
            @*</form>*@

             <button type="button" id="btnExport" class="btn btn-danger float-right margin-left:25px;" style="margin-left: 12px;">
                <i class="fas fa-file-pdf"></i> PDF
            </button>
            
            <a class="btn btn-success float-right margin-left:25px;" asp-action="ExportPeopleInExcel" style="margin-left: 12px; float: right;">
                <i class="fas fa-file-excel"></i> Excel
            </a>
            
            @* <button type="button" class="btn btn-info float-right" data-toggle="modal" data-target="#FilterModal" style="margin-left: 12px;">
                <i class="fas fa-filter"></i> Filter
            </button> *@
                
            <button type="button" class="btn btn-primary float-right" data-toggle="modal" data-target="#DepartmentModal" align="center">
                <i class="bi bi-plus-circle-dotted"></i> Department
            </button>
            <br />
            <br />
        
        </p>

    <!-- Filter Record-->
        <div class="modal fade" id="FilterModal" tabindex="-1" role="dialog" aria-labelledby="exampleModelLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <form asp-action="Filter" asp-controller="Department" method="post">
                        
                        <div class="modal-header">
                            <h3 class="modal-title" id="exampleModalLabel"><b>Filter</b></h3>
                            <button type="button" class="close" data-dismiss="modal" aria-label="close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>

                        <div class="modal-body">
                            <div class="form-group">
                                <label asp-for="department.DepartmentID" class="control-label"></label>
                                <input asp-for="department.DepartmentID" class="form-control" />
                                <span asp-validation-for="department.DepartmentID" class="text-danger"></span>
                            </div>
                            
                            <div class="form-group">
                                <label asp-for="department.DepartmentName" class="control-label"></label>
                                <input asp-for="department.DepartmentName" class="form-control" />
                                <span asp-validation-for="department.DepartmentName" class="text-danger"></span>
                            </div>
                            
                            <div class="form-group">
                                <label asp-for="department.DepartmentCode" class="control-label"></label>
                                <input asp-for="department.DepartmentCode" class="form-control" />
                                <span asp-validation-for="department.DepartmentCode" class="text-danger"></span>
                            </div>
                            
                            <div class="form-group">
                                <label asp-for="department.Description" class="control-label"></label>
                                <input asp-for="department.Description" class="form-control" />
                                <span asp-validation-for="department.Description" class="text-danger"></span>
                            </div>
                            
                             <div class="form-group">
                                  <label class="control-label">Status</label>
                                    <div>
                                    <label class="radio-inline">
                                    @Html.RadioButtonFor(model => model.department.Status, "Available") Available
                                    </label>
                <label class="radio-inline" style="margin-left: 25px;">
                    @Html.RadioButtonFor(model => model.department.Status, "Not Available") Not Available
                </label>
                <span>@Html.ValidationMessageFor(model => model.department.Status, "", new { @class = "text-danger" })</span>
            </div>
        </div>
                            
                        </div>

                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary">Filter</button>
                            <button asp-action="ClearFilter" asp-controller="Department" class="btn btn-primary btncancel">Clear</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>


    <!-- Add Department Record-->
        <div class="modal fade" id="DepartmentModal" tabindex="-1" role="dialog" aria-labelledby="exampleModelLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <form asp-action="Create" asp-controller="Department" method="post">
                        <div class="modal-header">
                            <h3 class="modal-title" id="exampleModalLabel"><b>Add Department</b></h3>
                            <button type="button" class="close" data-dismiss="modal" aria-label="close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>

                        <div class="modal-body">
                            
                            <div class="form-group">
                                <label asp-for="department.DepartmentID" class="control-label"></label>
                                <input asp-for="department.DepartmentID" class="form-control" />
                                <span asp-validation-for="department.DepartmentID" class="text-danger"></span>
                            </div>
                            
                            <div class="form-group">
                                <label asp-for="department.DepartmentName" class="control-label"></label>
                                <input asp-for="department.DepartmentName" class="form-control" />
                                <span asp-validation-for="department.DepartmentName" class="text-danger"></span>
                            </div>
                            
                            <div class="form-group">
                                <label asp-for="department.DepartmentCode" class="control-label"></label>
                                <input asp-for="department.DepartmentCode" class="form-control" />
                                <span asp-validation-for="department.DepartmentCode" class="text-danger"></span>
                            </div>
                            
                            <div class="form-group">
                                <label asp-for="department.Description" class="control-label"></label>
                                <input asp-for="department.Description" class="form-control" />
                                <span asp-validation-for="department.Description" class="text-danger"></span>
                            </div>
                            
                            <div class="form-group">
                                 <label class="control-label">Status</label>
                                   <div>
                                     <label class="radio-inline">
                                        @Html.RadioButtonFor(model => model.department.Status, "Available") Available
                                     </label>
                                     <label class="radio-inline" style="margin-left: 25px;">
                                        @Html.RadioButtonFor(model => model.department.Status, "Not Available") Not Available
                                     </label>
                                  <span>@Html.ValidationMessageFor(model => model.department.Status, "", new { @class = "text-danger" })</span>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary">Save</button>
                            <button class="btn btn-primary btncancel">Cancel</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    <!-- Table -->
    <label for="txtSearch" style="margin-left: 875px;">Search:</label>
    <input type="text" id="txtSearch" placeholder="">
    <table id="example" class="table table-bordered table-striped" style="width: 20%; margin: 0 auto;">
           <thead class="thead-dark">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.DepartmentID)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DepartmentName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DepartmentCode)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Description)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Status)
                    </th>
                    <th>Action</th>
                </tr>
             </thead>
            <tbody>
        
            @foreach (var item in Model.Departments)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.DepartmentID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DepartmentName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DepartmentCode)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Status)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id"><i class="bi bi-pencil-square"></i></a>
                        <a asp-action="Delete" asp-route-id="@item.Id"><i class="fas fa-trash-alt" style="color: red;"></i></a>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>

@section scripts{
    <script src="/js/Custom.js"></script>
}

<!--- PDF --->
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.22/pdfmake.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.min.js"></script>
<script type="text/javascript">
    $("body").on("click", "#btnExport", function () {
        html2canvas($('[id*=example]')[0], {
            onrendered: function (canvas) {
                var data = canvas.toDataURL();
                var docDefinition = {
                    content: [{
                        image: data,
                        width: 500
                    }]
                };
                pdfMake.createPdf(docDefinition).download("Table1.pdf");
            }
        });
    });
</script>



