@model EmployeeHierachy12345.Models.GeneralModel

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <style>
        body {
            background-color: #f5f5f5;
            font-family: Arial, sans-serif;
        }

        .container {
            max-width: 500px;
            background-color: #fff;
            border: 1px solid #ddd;
            margin: 0 auto;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        .logo {
            font-size: 50px;
            color: dodgerblue;
            margin-bottom: 20px;
        }

        .header {
            text-align: center;
            margin-bottom: 20px;
        }

            .header h1 {
                font-size: 24px;
                color: #333;
                margin-bottom: 10px;
            }

        .form-group {
            margin-bottom: 20px;
        }

        label {
            margin-left: 0;
            font-weight: bold;
        }

        input[type="text"], input[type="password"] {
            width: 70%;
            padding: 10px;
            margin-bottom: 20px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }

        button[type="submit"] {
            width: 70%;
            padding: 10px;
            background-color: #4CAF50;
            color: #fff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

            button[type="submit"]:hover {
                background-color: #3e8e41;
            }

        .checkbox {
            margin-top: 10px;
        }

            .checkbox label {
                font-weight: normal;
            }


        .center-btn {
            display: block;
            margin: 0 auto;
            width: 105px;
        }


    </style>
</head>

<body>

<div class="container pt-5">
    <div class="row justify-content-center" style="height:1000px;">
        <div class="col-md-6">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <form style=" margin: 0 auto;">
    <h1><b>Employee Details</b></h1>
    <dl class="dl-horizontal">
    
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PhoneNo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PhoneNo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.City)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.City)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.State)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.State)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Hiredate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Hiredate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Gender)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Gender)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Password)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Password)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Region)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Region)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Department)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Department)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ShiftStartTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ShiftStartTime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ShiftEndTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ShiftEndTime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Salary)
        </dt>
         <dd>
            @Html.DisplayFor(model => model.Salary)
        </dd>
       
        <dt>
            @Html.DisplayNameFor(model => model.Comments)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Comments)
        </dd>
    </dl>

    <p>
        @Html.ActionLink("Edit", "Edit", new { Id = Model.Id }, new { @class = "btn btn-primary center-btn" })
    </p>
    </form>
              
    </div>
    </div>
</div>
</body>

















